/data
/weights
/outputs
/wandb
/old_logs
/logs
/checkpoints
todo.md
**/__pycache__
.env
.flake8
pyproject.toml
settings.json
cheatsheet_scripts.txt
/mgr_utils
/data_old
/optuna_outputs

clap-trimodal/conf